/*
 upvote and downvote button css from w3schools.com
*/
.table{
  background-color: #242424;
  color: #fafffb
}

h1{
  color: white;
  font-size: 25px;

}


/* Clicking a label will select its corresponding hidden radio button
   We can select that radio buttons sibling label and style it. */

/* input[type="radio"][id]:checked ~ .upvote {
  background-color: lightgreen;
}

input[type="radio"]:checked ~ .downvote {
  background-color: coral;
} */

input[type="radio"] {
  display: none;
}



.label {
  display: inline-block;
  padding: 3px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-color: #f0f0f0;
  width: 3em;
  text-align: center;
}

.upvote_selected {
  display: inline-block;
  padding: 3px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-color: lightgreen;
  width: 3em;
  text-align: center;
}
.upvote_selected:hover span:after{
  background-color: #0e0e0d
}


.downvote_selected {
  display: inline-block;
  padding: 3px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-color: coral;
  width: 3em;
  text-align: center;
}

/* submit button css from w3schools */

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: lightblue;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*
 Styling for table-view
*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  /* width: 25%; */
}
tr:nth-child(even) {
  background-color: #52524c;
}
tr:hover {
  background-color: #52524c;
}

/*
 Styling for line break
*/
.linebreak {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*
 Styling for logo
*/

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50;
  width: 15%;
}

/*for loading logo*/
.lds-grid {
  display: inline-block;
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
