/*
 Styling for line break and making sure button and form
 on the same line
*/
.linebreak {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*
Styling for leaving Queue  button
*/
.leaveQueue {
  padding: 16px;
  display: block;
  background-color: lightcoral;
  color: white;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

#errorMsg
{
  display:none;
  text-align: center;
  color: lightcoral;
}